@import "bootstrap";
@import 'normalize';

$dark: #424652;
$white: #FFFFFF;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;

* {
	box-sizing: border-box;
}

html {
	font-size: 14px !important;
}

a:hover {
	cursor:pointer;
}

body {
	font-family: 'Raleway', sans-serif;
	background: image-url('background.png');
	background-size: cover;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.skinny_wrapper {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}

.wrapper_padding {
	padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.hidden {
	display: none;
}

.notice, .alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #E9E9E9;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	color: $dark;
}

h1 {
	font-size: 2.5rem !important;
}

h2 {
	font-size: 2rem !important;
}

h3 {
	font-size: 1.75rem !important;
}

h4 {
	font-size: 1.375rem !important;
}

h5 {
	font-size: 1.25rem !important;
}

h6 {
	font-size: 1rem !important;
}

p, li {
	font-size: 1.1rem !important;
	line-height: 1.75;
}

p, ul, ol {
	margin: 0 0 1.6em 0;
}

hr {
	width: 8em;
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid $highlight;
	margin: 2rem auto;
}

.tags {
	margin-top: 1.5em;
	.card {
		padding: 2em;
		.card-header {
			background-color: none !important;
			h6 {
				text-align: center;
			}
		}
		.card-block {
			padding: 1.25rem 0;
			height: auto;
		}
		.tag_sidebar {
			padding: .5em;
			border: 2px solid #C0392B;
			color: $light;
			margin: 5px;
			display: inline-block;
			&:hover {
				color: #C0392B;
			}
		}
	}

}

.form-contact {
	background-color: $white;
	border: 1px solid $border;
	padding: 1.5em;
}

#post_show_content {
	background-color: $white;
	border: 1px solid $border;
	padding: 2em;
	header {
		h2 {
			margin-bottom: 1em;
		}
		margin-bottom: 3em;
	}
	.data_show_post{
		position:relative;
		&:before {
			content: "";
			height: 2px;
			width: 100px;
			position:absolute;
			border-bottom: 2px solid $highlight;
			top: 50%;
			left: -100%;
		}
		&:after {
			content: "";
			height: 2px;
			width: 100px;
			position:absolute;
			border-bottom: 2px solid $highlight;
			top: 50%;
			left: 120%;
		}
	}
}

#main_navigation {
	border-bottom: 1px solid $border;
	#header-image {
		width: 100%;
		img {
			height: 420px;
			width: 100%;
			position: fixed;
			z-index: 1;
		}
	}
	#navbar {
		padding: 2.5em 5%;
		width: 100%;
		// height: 120px;
		position: absolute;
		z-index: 15;
		top: 420px;
		background: #1abc9c;
		margin-bottom: 20px;
		border-bottom: 2px solid $border;
		.name {
			font-weight: 700;
			font-size: .8em !important;
			letter-spacing: 4px;
			text-transform: uppercase;
			border: 2px solid $border;
			padding: 1rem;
			text-decoration: none;
			color: $dark;
			float: left;
			border-radius: 15px;
			transition: all 1s ease-in-out;
			&:hover {
				background-color: $highlight;
				border-radius: 0px;
				box-shadow: -4px 1px 12px 2px rgba(212,217,219,1);
				-webkit-box-shadow: -4px 1px 12px 2px rgba(212,217,219,1);
				-moz-box-shadow: -4px 1px 12px 2px rgba(212,217,219,1);
				cursor: pointer;
			}
		}
		nav {
				float: right;
				padding-top: 1rem;
				a {
					color: $dark;
					text-decoration: none;
					margin: 0 1.5rem;
					font-size: 1rem !important;
					padding: 1rem;
					transition: background-color 1s ease-in-out;
					&:hover {
						border: 2px solid $border;
						background-color: $highlight;
						cursor: pointer;
						border-radius: 15px;
						-webkit-box-shadow: -4px 1px 12px 2px rgba(212,217,219,1);
						-moz-box-shadow: -4px 1px 12px 2px rgba(212,217,219,1);
						box-shadow: -4px 1px 12px 2px rgba(212,217,219,1);
					}
				}
			}
	}

}

.views_number {
	display: inline-block;
	padding: .5rem;
	border: 2px solid $border;
	margin-top: -1rem;
	margin-bottom: 1rem;
	i {
		margin-right: 5px;
		width: 20px;
		height: 20px;
		display: inline-block
	}
}

#main-content {
	position: relative;
	z-index: 10;
	top: 420px + 120px;
	background: image-url('background.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 2rem;
	// background-attachment:
	.author-avatar {
		width: 50%;
		height: 50%;
		border-radius: 100%;
		text-align:center;
		display:block;
		margin: 20px auto;
	}
	.card-block {
		border-top: 2px solid $border;
		h4 {
			text-align:center;
			font-weight: bold;
		}
		p {
			justify-content: center;
			text-align: center;
		}
	}
	#main_footer {
		margin-top: 5rem;
		padding: 2.5em 5%;
		border-top: 4px solid #3498db;
		background-color: #30292b;
		.copyright {
			float: left;
			font-size: .9em !important;
			margin: 0;
		}
		nav {
			text-align:center;
			i {
				color: $white;
				margin-left: 1em;
				padding-top: .2em;
				&:hover {
					color: $highlight;
				}
			}
			p {
				color: $white;
			}
		}
	}


}

.page_title {
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 3em 0;
	font-size: 1rem !important;
	text-transform: uppercase;
	background-color: $white;
	border: 1px solid $border;
	color: #7f8c8d;
	text-decoration: italic !important;
	border: 1px solid $highlight;
	border-radius: 10px;
}

.card-post {
	opacity: 0;
	transform: translateX(30px);
	transition: all 1.5s ease-in-out;
	&.is-showing {
		opacity: 1;
		transform: translateX(0px);
	}
	.card-header {
		background-color: transparent;
		.post-title-link {
			color: #E08283;
			text-transform: uppercase;
			font-weight: bold;
		}

	}
	.card-block {
			border-top: none !important;
	}

}

textarea.content-post {
	min-height: 20em;
}
.comments {
	.comment {
		background-color: #f7f7f9;
		padding: 0.5rem 2rem;
		border: 1px solid $border;
		border-radius: 5px;
		margin-top: 1rem;
		p:nth-child(2) {
			padding-left: 2rem;
		}
	}
}
.leave-comment {
	padding-top: 2rem;
	border-top: 1px solid $border;
	.common-post {
		height: 100px ;
	}
}


input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	max-width: 100%;
	height: 3em;
	border: 2px solid $border;
	padding: 1em;
	margin: .5em 0 2em 0;
}

// textarea {
// 	min-height: 20em;
// }

input[type="submit"], .button {
	outline: none;
	background: transparent;
	border: 2px solid $border;
	text-align: center;
	font-size: 1em !important;
	color: $dark;
	text-decoration: none;
	padding: 1em 2em;
	&:hover {
		border: 2px solid $highlight;
		color: $highlight;
	}
}

.project_button {
	background: $highlight;
	color: $white;
	text-decoration: none;
	padding: 1em 2em;
}

.button_wrapper {
	margin: 4em 0 0 0;
	text-align: center;
}

@import 'welcome';
@import 'posts';
@import 'pygments';
